@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="mainText">
        <h1 class="display-4 text-black">Razor Sharp Restaurant</h1>
        <h2 class="mainSubTitle">The best Restaurant around you :></h2>
    </div>
    <img class="mainImage" src="~/images/HomePage/LegoPizza.jpg"/>
    <br/>
    <a class="btn btn-order mt-1" asp-area="" asp-page="Pizza">EATING TIME!</a>
    
</div>
