@page
@model RazorRestaurant.Pages.PizzaModel
@{
}

<div class="text-center">
	<div class="mainText">
		<h1 class="display-4 text-black">
			Selection of pizzas.</h1>
		<h4>Choose one of ours pizzas or create pizza of your dream using Pizza Creator!</h4>
		<p class="smallText"><i>To every pizza you get extra olive oil!</i></p>
        <div class="container">
        <div class="row">
            <div class="col-12 mb-5 mt-5">
                <div class="w-100 row makeYourOwnDiv">
                    <div class="col-4">
                        <img src="~/images/Menu/CustomPizzaCreate.png" class="w-100"/>
                    </div>
                    <div class="col-8 alig-items-center">
                        <div class="allign-middle makeYourOwnText">
                            <h3 style="text-align:left;">Create your own Pizza</h3>
                            <p style="text-align:left;">Make your own Pizza with Pizza Creator!"</p>
                            <a class="btn btn-primary" style="float:left" asp-area="" asp-page="Forms/CustomPizza">TRY NOW</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	</div>

</div>