@page
@model RazorRestaurant.Pages.PizzaModel
@{
}

<a class="nav-link text-dark" asp-area="" asp-page="Forms/CustomOrder">CustomOrder</a>
<a class="nav-link text-dark" asp-area="" asp-page="Checkout/Checkout">Checkout</a>